@page "/calculator"
@using BlazorShWebsite.Client.Calculator
@using BlazorShWebsite.Client.Components

<SuffixedPageTitle Title="Calculator" />

<div class="page-wrapper">
    <div class="calculator">
        <p class="result">@calculator.Calculate()</p>
        <p class="input">@calculator.GetInput()</p>
        <div class="buttons">
            <div class="button-group">
                @foreach (var digit in Enumerable.Range(1, 9))
                {
                    <button @onclick="@(() => calculator.AppendInput(digit.ToString()))">@digit</button>
                }
                <button disabled></button>
                <button @onclick="@(() => calculator.AppendInput("0"))">0</button>
                <button disabled></button>
            </div>
            <div class="button-group">
                <button @onclick="@(() => calculator.AppendOperator(new AdditionOperator()))">+</button>
                <button @onclick="@(() => calculator.AppendOperator(new SubtractionOperator()))">-</button>
                <button @onclick="@(() => calculator.AppendOperator(new DivisionOperator()))">/</button>
                <button @onclick="@(() => calculator.AppendOperator(new MultiplicationOperator()))">*</button>
                <button @onclick="@(calculator.Equals)">=</button>
            </div>
        </div>
    </div>
    <div class="history">
        <h2>Current Calculation</h2>
        @foreach (var expression in calculator.expressions)
        {
            <p class='@expression.GetClassName()'>@expression.ToString()</p>
        }
    </div>
</div>

<HeadContent>
    <link rel="stylesheet" href="css/calculator.css" />
    <meta name="description" content="A simple calculator written only in C# using blazor wasm">
</HeadContent>

@code {
    private Client.Calculator.Calculator calculator = new();
    
}